<?xml version="1.0"?>
<fluo>
    <files>
        <cliloc language="enu" />
        <map3 difs-enabled="0" />
        <map4 difs-enabled="0" />
        <map5 difs-enabled="0" />
        <mul-directory path="your UO directory" />
    </files>
    <shard />
    <ui>
        <gameview>
            <font name="DevinneSwash" size="16" />
        </gameview>
    </ui>
</fluo>
